@import "~/styles/base";

$transition-time: 0.2s;

.text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: center;

  @include font($font-weight-bold, $font-style-normal, 12px, 14px, -0.5px);

  @media screen and (min-width: $breakpoint-lg) {
    @include font($font-weight-bold, $font-style-normal, 19px, 24px, -0.5px);
  }
}

.button {
  width: 100%;
  height: 50px;
  border-radius: 50px;
  border: none;
  padding: $spacing-sm $spacing-lg;
  background-color: $primary-color;
  color: $white;
  transition: background-color $transition-time linear;

  &:disabled {
    background-color: $light-color;
    cursor: not-allowed;
  }

  &:hover:enabled {
    background-color: $secondary-color;
  }

  @media screen and (min-width: $breakpoint-lg) {
    height: 70px;
    border-radius: 70px;
    padding: $spacing-md 19px;
  }
}

.icon {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 27px;

  .text {
    text-align: left;
  }
}
