// Fonts
$font-family: "Open Sans", sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-style-normal: normal;
$font-style-italic: italic;

// Colors
$primary-color: #2d3e4e;
$secondary-color: #07c06a;
$light-color: #aaaaaa;

$white: #ffffff;
$black: #000000;

// Layout
$min-width: 768px;
$max-width: 1680px;

// Breakpoints
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1680px;

// Spacing
$spacing-sm: 8px;
$spacing-md: 11px;
$spacing-lg: 18px;
$spacing-xl: 27px;
$spacing-xxl: 51px;
